footer.home-footer#contact
  .flex.flex--center
    .col-2
      p.home-lead Feel free to get in touch. I am looking forward to recommendations or inquiries.
      a(href="mailto:h.paffhausen@gmail.com").cta-btn Send me a Mail
