mixin nav-content()
  ul
    li: a(href="../index.html") Home
    li: a(href="../index.html#about") About
    li: a(href="records.html") Records
    li: a(href="../index.html#work") Work
    li: a(href="../index.html#contact") Contact

header
  .header-position
    h1.logo Heimo Paffhausen
    
    nav.site-nav
      +nav-content()
    
    a(href="mailto:h.paffhausen@gmail.com").email-link +email me
