section.work#work
  .flex.flex--space-around
    .col-1
      p.teaser I work as a webedeveloper and webdesigner. As an employee I take care of over 500 websites with a total of over 1 million pageviews a month. As a freelancer I help several clients to run their websites.
    
    .col-1.order-first
      p.home-lead.outdented ...or how I earn my money to afford buying all those records. 
      a(href="https://xindaya.ch").cta-btn Business Website
          
          
          
            
